.footer {
  &__top {
    position: relative;
    padding-top: 58px;
    padding-bottom: 48px;
    background-color: $bg-gray-dark;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__nav-item {
    margin-bottom: 20px;
  }

  &__twitter-embed {
    @include breakpoint(md) {
      padding-right: 20px;
    }
  }

  &__menu-title {
    margin-bottom: 15px;
    font-size: 14px;
    color: $text-orange;
    text-transform: uppercase;
  }

  &__menu-hexagon {
    margin-right: 10px;
    display: inline-block;
  }

  &__menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: $text-white;

    a {
      color: $text-white;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  &__menu-item {
    margin-bottom: 5px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__menu-label {
    margin-right: 16px;
  }

  &__bottom {
    background-color: $bg-black-light;
    height: 30px;
    font-size: 10px;
    font-family: $secondary-font;
    color: $text-footer-bottom;
  }

  &__hexagon-wrapper {
    display: inline-block;
    margin: 0 10px;
  }

  &__hexagon {
    width: 11px;
    height: 11px;
    background: url('../assets/images/hexagon-active.png') center/contain no-repeat;
    display: inline-block;
    vertical-align: middle;
  }

  &__icon {
    display: none;
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 75px;
    height: 86px;
    background: url('../assets/images/footer-icon.png') center/cover no-repeat;

    @include breakpoint(md) {
      display: block;
    }
  }
}

