.text-center { text-align: center !important; }
.text-normal { font-weight: $font-weight-normal !important; }
.text-semibold { font-weight: $font-weight-semibold !important; }
.text-bold { font-weight: $font-weight-bold !important;}
.text-italic { font-style: italic !important; }
.text-uppercase { text-transform: uppercase !important; }
.text-lowercase { text-transform: lowercase !important; }
.text-underline { text-decoration: underline !important; }
.no-underline { text-decoration: none !important; }
.no-wrap { white-space: nowrap !important; }
