@import "color-system";

$text-white: $white;
$text-black: $black;
$text-blue: $blue;
$text-orange: $orange;
$text-gray: $gray;
$text-footer-bottom: $gray-9b;

$bg-white: $white;
$bg-black: $black;
$bg-black-light: $black-light;
$bg-blue: $blue;
$bg-orange: $orange;
$bg-gray: $gray;
$bg-gray-dark: $gray-dark;
$bg-gray-light: $gray-light;

$border-white: $white;
$border-blue: $blue;
$border-orange: $orange;
