// Breakpoint widths
$width-xs: 0 !default;
$width-md: 600px !default;
$width-lg: 900px !default;

// Responsive container widths
$container-md: 1000px;
$container-lg: 1150px;
$container-xl: 1300px;

// Breakpoints in the form (name: length)
$breakpoints: (
  md: $width-md,
  lg: $width-lg
) !default;

$responsive-variants: (
  "": "",
  md: "-md",
  lg: "-lg"
) !default;

//Gutters
$gutter-md: 20px;
$gutter-lg: 30px;

//Spacers
