$main-font: 'Open Sans', $f-sans-serif;
$main-font-size: 14px;
$main-line-height: 1.5;
$main-bg: $c-white;
$main-text-color: $c-black;

$secondary-text-color: $c-white;

$link-color: $main-text-color;
